

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body{
    font-family: 'avenir next', Arial, sans-serif;
  }
  
:root {
    --green: rgb(255, 255, 255);
    --light-green: rgb(172, 198, 201);
    --light-grey: #f1f1f4;
    --text-color-light: #f1f1f1;
    --text-color-dark: #333;
  }
  
  /* ---------- general styling ---------- */
  html,
  body {
    color: var(--text-color-dark);
    font-family: Helvetica, Arial, sans-serif;
    height: 100%;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  
  
  /* ---------- tabbar styling ---------- */
  nav {
      
    background-color: var(--green);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
  }
  
  /* Style the links inside the navigation bar */
  nav a {
    
    color: var(--text-color-dark);
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 0.8em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
  
  /* Change the color of links on hover */
  nav a:hover {
    background-color: var(--light-grey);
    color: var(--text-color-dark);
  }
  
  /* Add a color to the active/current link */
  nav a.active {
    background-color: var(--light-green);
    color: var(--green);
  }
  
  /* ---------- topbar styling ---------- */
  
  
  .topbar h2 {
    margin: 0;
    font-weight: 500;
    letter-spacing: 0.1em;
  }
  
  /* ---------- page styling ---------- */
 
  .mobilf_img {
margin-left: 80px;
    width: 200px;
    margin-top: -30px;
    margin-top: -50px;
  }
  

  

  @media (min-width: 375px){



  .centered {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
  }

  .centered2 {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
  }

  .centered3 {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
   
  }


  .centered4 {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: white;
  }
  

  .seb_container{
    display: flex;
    flex-direction: column;
    width: 100%;
    
 
}
.image_container{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 50px;

}



.seb_container1{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #e8e2e2;
    margin-top: 50px;
}
.seb_img{
 width: 20%;
 margin-top: 50px;
 margin-bottom: 50px;
}
.seb{
  width: 200px;
  margin-top: -50px;
}



   

.seb_box{
 position: relative;
 width: 50%;
 
 margin-top: -10px;
 margin-bottom: 8px;

}


.mobile_box{
  position: relative;
  
  
  margin-top: 190px;
  margin-bottom: 8px;
 
 }

.headline_seb{
 font-size: 17px;
 margin: auto;
 margin-left: 150px;
 margin-top: 30px;
 margin-bottom: 10px;

}


.headline_aeble1{
  font-size: 17px;
 
  margin-left: 100px;
  width: 200px;
  margin-top: 50px;
  margin-bottom: 4px;
 }

.headline_smykker{
  font-size: 22px;
  margin: auto;
  margin-left: -15px;
  margin-top: 30px;
  margin-bottom: 4px;
 }

.headline_aeble{
  font-size: 17px;
  margin: auto;
  margin-left: 100px;
  width: 200px;
  margin-bottom: 20px;
 }
.headline_sebs{
    font-size: 22px;
    margin: auto;
    margin-left: 85px;
    margin-top: 30px;
    width: 200px;
   }


.headline_seb1{
    font-size: 17px;
    margin: auto;
   margin-left: 145px;
    margin-top: 10px;
    margin-bottom: 4px;
    
   }
/* beskrivelse sebastian */ 
.seb_txt{
 font-size: 15px;
width: 350px;
 border: none;
 margin: auto;
 margin-left: 10px;
 line-height: 20px;
}

.aeble_txt{
  font-size: 15px;
 width: 350px;
  border: none;
  margin: auto;
  margin-left: 10px;
  line-height: 20px;
 }


.seb_txts{
    font-size: 15px;
   width: 350px;
    border: none;
    margin: auto;
    margin-top: 30px;
    line-height: 20px;
    margin-left: 15px;
   }



   .seb_txtskyr{
    font-size: 15px;
   width: 350px;
    border: none;
    margin: auto;
    margin-top: 10px;
    line-height: 20px;
    margin-left: 10px;
   }
.seb1{

    width: 400px;
    height: 550px;
}

.seb2{

    width: 330px;
    height: 300px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin:-30px
}

.seb3{

    width: 320px;
    height: 350px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 margin-left: -25px;
 margin-bottom: -50px;
    
}

.seb4{
display: none;
    width: 400px;
    height: 350px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin:-50px
    
}


.sebskyr{

    width: 370px;
    height: 200px; 
    
    margin:0px;
}

.parallax1 {
    /* The image used */
    display: none;
  }




  .parallax2 {
    /* The image used */
    display: none;
    background-image: url("../img/Thise Mejeri.jpg");
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 60%;
  }




  .parallax3 {
    /* The image used */
    display: none;
    background-image: url("../img/Skærmbillede 2020-08-24 kl. 21.33.45.jpg");
  
    /* Set a specific height */
    min-height: 600px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 70%;
  }




  .parallax9 {
    /* The image used */
    display: none;
    background-image: url("../img/havet.jpg");
  
    /* Set a specific height */
    min-height: 600px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 70%;
  }



  .parallax10 {
    /* The image used */
    display: none;
    background-image: url("../img/baggrundh.png");
  
    /* Set a specific height */
    min-height: 600px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 70%;
  }


  

  .parallax_text1{
padding-top: 100px;
font-size: 70px;
color:black;
  }



  .parallax_text2{
    padding-top: 100px;
    font-size: 70px;
    color:white;
      }
    


  .page_footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 20rem;
    align-items: center;
    text-align: center;
    background-color: #fefefe9a;
    padding-top: 20px;
    font-size: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  line-height: 25px;
  }
  
  .footer_card{
    padding: 10px;
    
  }
  
  .some_image {
    width: 30px;
    
  }
  
  .footer_card_heading {
  
    font-family: 'Shadows Into Light Two', cursive;
  }
  
  .footer_card:first-child .footer_card_heading {
    margin-bottom: 5px;
  
  }
  
  .footer_link {
    text-decoration: none;
    color: #333333;
    font-size: 18px;
   
  }

  .video{
    position: relative;
    width: 100%;
   
  }

  .video_div{
    text-align: center;
    margin-bottom: 30px;
  }

  .video1{
    position: relative;
    width: 70%;
   
  }


  .container_aeble {
    position: relative;
    text-align: center;
    color: rgb(0, 0, 0);
  }


  .container_happy {
    position: relative;
    text-align: center;
    color: rgb(0, 0, 0);
  }
.snow{
  opacity: 40%;
}


.container_thise {
  position: relative;
  text-align: center;
  color: rgb(0, 0, 0);
}
.snow1{
opacity: 40%;
}

.snow3{
  opacity: 40%;
  width: 100%;
  height: 250px;
  }
  

.container_smykker {
  position: relative;
  text-align: center;
  color: rgb(0, 0, 0);
}
.snow2{
opacity: 40%;
}

  .tekst_aeble {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
  }

  .tekst_happy {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
  }


  .tekst_aeble1 {
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    width: 300px;
    font-size: 15px;
  }



  .tekst_smykker {
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
  }


  .tekst_smykker1 {
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    width: 350px;
    font-size: 15px;
  }



  .tekst_mobile {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
  }


  .tekst_mobile1 {
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    width: 350px;
    font-size: 15px;
  }



  .headline_mobile{
    font-size: 22px;
    margin: auto;
    margin-left: 140px;
    margin-top: 25px;
    margin-bottom: 10px;
   }
  
   .headline_mobilefirst{
    font-size: 22px;
    margin: auto;
    margin-left: -45px;
    margin-top: -180px;
    margin-bottom: 10px;
   }

   .headline_seb10{
    font-size: 22px;
    margin: auto;
    margin-left: 140px;
    margin-top: 50px;
    margin-bottom: 4px;
   }

   .om{

    display: flex;
    flex-direction: column;
   }

  }






  @media only screen and (min-width: 900px) {




.billedecider{

    position: relative;
    height: 750px;
    width: 100%;
    outline: 1px solid white;
}


.container000 {
    position: relative;
    text-align: center;
    color:black;
  }
  
  /* Bottom left text */
  


  .centered {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
  }

  .centered2 {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
  }

  .centered3 {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
   
  }


  .centered4 {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: white;
  }

  .seb_container{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    
   
}



.image_container{
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  margin-left: 0px;

}


.seb_container1{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    background-color: #e8e2e2;
    margin-top: 50px;
    
}


.seb_container10{
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  background-color: #e8e2e2;
  
}
.seb_img{
 width: 50%;
 margin-top: 50px;
 margin-bottom: 50px;
}
.seb{
  width: 300px;
  margin-top: 10px;
}



.seb_box{
 position: relative;
 width: 50%;
 font-family: avenir next;
 margin-top: -10px;
 margin-bottom: 8px;



}
.headline_seb{
 font-size: 22px;
 margin: auto;
 margin-left: -45px;
 margin-top: 300px;
 margin-bottom: 4px;
}

.headline_seb10{
  font-size: 22px;
  margin: auto;
  margin-left: -45px;
  margin-top: 100px;
  margin-bottom: 4px;
 }

.headline_mobile{
  font-size: 22px;
  margin: auto;
  margin-left: -45px;
  margin-top: 150px;
  margin-bottom: 10px;
 }

 .headline_mobilefirst{
  font-size: 22px;
  margin: auto;
  margin-left: -45px;
  margin-top: -180px;
  margin-bottom: 10px;
 }
 
.headline_smykker{
  font-size: 22px;
  margin: auto;
  margin-left: -45px;
  margin-top: 30px;
  margin-bottom: 4px;
 }

.headline_aeble{
  font-size: 22px;
  margin: auto;
  width: 630px;
  margin-left: 50px;
  margin-top: 120px;
  margin-bottom: 20px;
 }


 
.headline_sebs{
    font-size: 22px;
    margin: auto;
    margin-left: 30px;
    margin-top: 300px;
    width: 500px;
   }

   

.headline_seb1{
    font-size: 22px;
    margin: auto;
   margin-left: 0px;
    margin-top: 80px;
    margin-bottom: 4px;
    
   }
/* beskrivelse sebastian */ 
.seb_txt{
 font-size: 15px;
width: 450px;
 border: none;
 margin: auto;
 margin-left: 40px;
 line-height: 20px;
 line-height: 25px;
 margin-top: 20px;
}

.aeble_txt{
  font-size: 15px;
 width: 500px;
  border: none;
  margin: auto;
  margin-left: 120px;
  line-height: 25px;
  
 }


.seb_txts{
    font-size: 15px;
   width: 500px;
    border: none;
    margin: auto;
    margin-top: 30px;
    line-height: 20px;
   }



   .seb_txtskyr{
    font-size: 15px;
   width: 500px;
    border: none;
    margin: auto;
    margin-top: 10px;
    line-height: 20px;
   }
.seb1{

    width: 400px;
    height: 550px;
}

.seb2{

    width: 330px;
    height: 300px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin:-30px
}

.seb3{

    width: 320px;
    height: 350px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin:-50px
}

.seb4{
display: block;
    width: 400px;
    height: 350px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin:-50px;
    margin-left: 40px;
}


.sebskyr{

    width: 700px;
    height: 400px; 
    
    margin:-30px
}

.parallax1 {
    /* The image used */
    display: block;
    background-image: url("../img/cideer.png");
  
    /* Set a specific height */
    min-height: 600px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 70%;
  }




  .parallax2 {
    /* The image used */
    display: block;
    background-image: url("../img/Thise Mejeri.jpg");
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 60%;
  }




  .parallax3 {
    /* The image used */
    display: block;
    background-image: url("../img/Skærmbillede 2020-08-24 kl. 21.33.45.jpg");
  
    /* Set a specific height */
    min-height: 600px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 70%;
  }




  .parallax9 {
    /* The image used */
    display: block;
    background-image: url("../img/havet.jpg");
  
    /* Set a specific height */
    min-height: 600px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 70%;
  }



  .parallax10 {
    /* The image used */
    display: block;
    background-image: url("../img/baggrundh.png");
  
    /* Set a specific height */
    min-height: 600px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 70%;
  }


  

  .parallax_text1{
padding-top: 100px;
font-size: 70px;
color:black;
  }

  .parallax_text2{
    padding-top: 100px;
    font-size: 70px;
    color:white;
      }
    


  
  

  .video{
    position: relative;
    width: 100%;
   
  }

  .video_div{
    text-align: center;
  }

  .video1{
    position: relative;
    width: 70%;
   
  }


  .container_aeble {
    display: none;
  }
  .container_happy {
    display: none;
  }

.snow{
  display: none;
}



  .tekst_aeble {
   display: none;
  }



.container_thise {
  display: none;
}
.snow1{
display: none;
}

.container_smykker {
  display: none;
}
.snow2{
display: none;
}

.mobilf_img {
margin-left: 0px;
  width: 200px;
  margin-top: 0px;
  
}

.om{
  display: flex;
  flex-direction: row-reverse;
 }




}